{% extends 'base.html' %}

{% block content %}

<section>

    <h1>About Us</h1>

    <p>
        Big God International Revival Ministries – Nimule is a faith-based ministry
        committed to preaching the Gospel of Jesus Christ and supporting vulnerable children
        and communities in Nimule, South Sudan.
    </p>

    <p>Bishop Mutazibwa Joseph is the founding father of Big God International Revival
       Ministries. He is currently based in Juba South Sudan. We thank God for his visionary 
       leadership and the annointing upon his life. Big God Church - Nimule is therefore 
       overseen by Bishop Joseph Mutazibwa.
    </p>

    
    <p>
        Our mission is to bring spiritual transformation through the Church and practical
        compassion through children’s outreach programs including education support, care,
        and mentorship.
    </p>

    <p>
        We believe that every child deserves hope, dignity, and a future filled with purpose.
    </p>

</section>

{% endblock %}