{% extends 'base.html' %}

{% block content %}

<section class="contact-section">

    <h1>Contact Us</h1>

    <p>
        We would love to hear from you. Reach out for prayer, partnership,
        support, or inquiries about the ministry.
    </p>

    <div class="contact-container">

        <!-- CONTACT INFO -->
        <div class="contact-info">

            <h2>Ministry Information</h2>

            <p><strong>Organization:</strong> Big God International Revival Ministries – Nimule</p>

            <p><strong>Location:</strong> Nimule, South Sudan</p>

            <p><strong>Email:</strong> biggodintrevchurch@gmail.com</p>

            <p><strong>Phone:</strong> +211 921 152 213</p>

            <p><strong>Whatsapp:</strong> +256770796196</p>

        </div>

        <!-- CONTACT FORM -->
        <div class="contact-form">

           <form method="POST">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Your Name" required>

    <input type="email" name="email" placeholder="Your Email" required>

    <textarea name="message" rows="6" placeholder="Your Message" required></textarea>

    <button type="submit">Send Message</button>
</form>

        </div>

    </div>

</section>

{% endblock %}